.notificationItem {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 15px;
  padding-right: 0px;
  background-color: #2e343b;  /* Fundo escuro para a notificação */
  border-bottom: 1px solid rgb(87, 87, 87) !important;  /* Borda visível */
  text-decoration: none;
  color: #fff;  /* Cor do texto branca para contraste */
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 0; /* Remover o espaço acima de cada item */
  position: relative; /* Adicionado para permitir o posicionamento absoluto da bolinha */
  box-sizing: border-box; /* Inclui borda e padding no cálculo da largura/altura */
}

.notificationItem:hover {
  background-color: #444d56;  /* Escurecer um pouco mais no hover */
}

.iconContainer {
  margin-right: 15px;
}

.iconCircleBgInfo,
.iconCircleBgPrimary,
.iconCircleBgDanger {
  width: 40px;
  height: 40px;
  background-color:  #007bff; /* Cor azul */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconCircleBgDanger {
  background-color: #dc3545; /* Danger color */
}

.notificationText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.notificationTitle {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;  /* Cor do título branca */
}

.notificationDescription,
.notificationDetails {
  font-size: 12px;
  color: #d1d1d1; /* Cor mais clara para descrição e detalhes */
  padding-right: 25px; /* Ajuste para criar espaço para a bolinha */
  position: relative; /* Para manter o layout alinhado */
}

.notificationAmount {
  font-weight: bold;
  color: #dc3545; /* Cor vermelha para valores importantes */
}

.notificationDate {
  font-size: 12px;
  color: #b0b0b0;  /* Cor mais suave para a data */
}

.notificationItem:last-child {
  border-bottom: none;  /* Remove a borda do último item */
}

.unreadDot {
  position: absolute;
  top: 35%; /* Centraliza verticalmente */
  right: 16px; /* Ajuste conforme necessário */
  transform: translateY(-50%); /* Alinha perfeitamente ao centro */
  width: 9px; /* Tamanho da bolinha */
  height: 9px; /* Tamanho da bolinha */
  background-color: #007bff; /* Cor azul */
  border-radius: 50%; /* Forma circular */
}
