.headerContainer {
    height: 5rem;
}

.headerContent {
    height: 6rem;
    margin: 0 auto;
    padding: 0 16px;
    border-top: 1px solid var(--cinza-800);
    border-bottom: 0.8px solid var(--cinza-800);
    background-color: var(--roxo-1000);

    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        display: flex;
        align-items: center;
        gap: 14px;

        a {
            color: var(--white);
            text-decoration: none;

            &:hover {
                color: var(--red-900);
            }
        }

        button {
            border: 0;
            background: transparent;
            margin-left: 16px;
            transition: transform 0.8s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.logoutLink{
    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}
  
.bellContainer {
    position: relative;
    display: inline-block;
}
  
.notificationCount {
    position: absolute;
    top: -8px; /* Ajuste para posicionar corretamente */
    right: -8px; /* Ajuste para a posição à direita */
    background-color: red; /* Cor de fundo do contador */
    color: white; /* Cor do texto */
    border-radius: 50%; /* Garante que o contador será redondo */
    width: 18px; /* Largura fixa para garantir formato redondo */
    height: 18px; /* Altura fixa para garantir formato redondo */
    display: flex;
    justify-content: center; /* Centraliza o número horizontalmente */
    align-items: center; /* Centraliza o número verticalmente */
    font-size: 10px; /* Tamanho da fonte */
    font-weight: bold;
}

.notificationsContainer {
    position: absolute;
    top: 55px;
    right: 65px;
    background-color: var(--white);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    border-radius: 8px;
    z-index: 10;
}
  
.notificationItem {
    padding: 8px;
    border-bottom: 1px solid #eee;
}
  
.notificationItem:last-child {
    border-bottom: none;
}
  
  
  