.notificationsContainer {
  position: absolute;
  top: 55px;  /* Ajuste a distância da parte superior da página */
  right: 65px;
  width: 330px;
  max-height: 445px;  /* Define o tamanho máximo */
  border-radius: 8px 8px 0 0;
  z-index: 10;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 0; /* Remova qualquer espaço acima da caixa de notificações */
  overflow-y: auto;  /* Exibe a barra de rolagem vertical se o conteúdo exceder o max-height */
  box-sizing: border-box;  /* Inclui padding no cálculo de largura/altura */
  background-color: #2e343b; /* Cor de fundo das notificações */
  padding-top: 0; /* Remova o padding superior para eliminar qualquer espaço acima */
}

.notificationsHeader {
  background-color: #1f242a;
  color: #d8cbcb;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  margin-bottom: 0;  /* Remover qualquer margem indesejada */
  position: sticky; /* Torna o cabeçalho fixo ao rolar */
  top: 0;  /* Fica fixo no topo da área de rolagem */
  z-index: 20;  /* Garante que o cabeçalho fique acima do conteúdo */
}

.notificationsHeader h6 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}



/* Estilos para o loader e mensagens de "sem notificações" */

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
}

.emptyNotifications {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 14px;
  color: #ccc;
  text-align: center;
}

.emptyNotifications p {
  margin: 0;
  font-style: italic;
}
