
  
.cardBodyCustom {
  display: flex;
  justify-content: space-between;  // Alinha o conteúdo nas extremidades (esquerda e direita)
  align-items: center; /* Alinha o conteúdo verticalmente */
  height: 70px; /* Garante que o conteúdo ocupe toda a altura do card */
  width: 100%; /* Garante que o conteúdo ocupe toda a largura do card */
}

.cardHeader {
  font-size: 16px;
  white-space: nowrap; /* Impede a quebra de linha */
  overflow: hidden; /* Esconde o conteúdo que ultrapassa o limite */
  text-overflow: ellipsis;  /* Adiciona '...' quando o conteúdo ultrapassa o limite */
  
  @media (max-width: 480px) {
    font-size: 12px;  /* Tamanho para telas pequenas */
  }

  @media (max-width: 1000px) {
    font-size: 15px;  /* Tamanho para telas médias */
  }

  @media (min-width: 1001px) {
    font-size: 16px;  /* Tamanho para telas grandes */
  }
}



.loadingIcon {
  margin-bottom: 15px;
  margin-right: 20px;
  font-size: 24px;
  animation: rotate 2s linear infinite; /* Adiciona animação de rotação ao ícone */
  position: absolute; /* Necessário para posicionamento absoluto dentro do contêiner */
  top: 50%; /* Posiciona o ícone no meio verticalmente */
  left: 50%; /* Posiciona o ícone no meio horizontalmente */
}

.eyeIcon {
  cursor: not-allowed;
}

.value {
  font-size: 18px;  /* Ajuste o tamanho do valor */
  color: #fff;  /* Cor do texto */
  margin-top: 8px;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
