.filterInput {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    font-size: 0.875rem;
    border: 1px solid var(--cinza-800);
    border-radius: 4px;
    background-color: var(--lilas-800);
    color: var(--white);
    outline: none;
    width: 200px; // Ajuste a largura conforme necessário

    &:focus {
        border-color: var(--white);
    }
}
    
.searchIcon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cinza-800);
    pointer-events: none;
    font-size: 0.75rem; // Tamanho menor para o ícone de busca
    transition: opacity 0.3s ease; // Adiciona transição suave para a visibilidade
}
    
.clearIcon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cinza-800);
    pointer-events: auto; // Permite interação com o ícone de limpar
    font-size: 0.75rem; // Tamanho menor para o ícone "X"
    opacity: 0; // Inicialmente oculto
    transition: opacity 0.3s ease; // Adiciona transição suave para a visibilidade
}
    
.filterInput:not(:placeholder-shown) ~ .searchIcon {
    opacity: 0; // Oculta o ícone de busca quando há texto
}

.filterInput:not(:placeholder-shown) ~ .clearIcon {
    opacity: 1; // Mostra o ícone "X" quando há texto
}